[submodule ".vim/bundle/ctrlp.git"]
	path = .vim/bundle/ctrlp.git
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/lightline.git"]
	path = .vim/bundle/lightline.git
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/bundle/surround.git"]
	path = .vim/bundle/surround.git
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/ultisnips.git"]
	path = .vim/bundle/ultisnips.git
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/solarized.git"]
	path = .vim/bundle/solarized.git
	url = git://github.com/altercation/vim-colors-solarized.git
