snippet foreachloop
for (var $1=0; $1 < $2.length; $1++) {
$0
}
endsnippet

snippet titlehead
// $1
// ========================================
endsnippet

snippet filehead
// ========================================
// $1
// ========================================
endsnippet

snippet closure
(function(){
	'use strict';
	$1
}());
endsnippet

snippet log
console.log($1);
endsnippet
