snippet filehead
// --------------------------------------------------------------------------
// $1
// --------------------------------------------------------------------------

$0
endsnippet

snippet titlehead
// $1
// ----------------------------------------

$0
endsnippet

snippet media
@media screen and (max-width: $1) {
	$0
}
endsnippet
